- extends "base.html"

- block title
    Invite

- block content

    %h1 Invite

    %form{'method':"post", 'action':""}
        - csrf_token

        .control-group
            .control-label
                %label Email
            .controls
                %input#id-email{'name':'email', 'maxlength':'40', 'type':'text'}

        %button.btn{'type':'submit'} Invite

    :javascript
        $(function() {
            $("#id-email").popover({'content':'You can only invite @berkeley.edu email here','trigger':'focus'});
            $('#id-email').focus();
        })