- extends "base.html"
- block content

    %div{'style':'margin-top:30px; margin-bottom:100px'}
        %h1 Register
        %form{'method':"post", 'action':""}
            - csrf_token
            - if form.errors
                .alert.alert-error
                    =form.errors
            - for field in form
                - if field.label_tag
                    .control-group
                        .control-label {{ field.label_tag }}
                        .controls {{ field }}
                - else
                    {{ field }}

            %div{'style':'margin-right:auto; margin-left:auto;'}
                %button.btn-primary.btn{'type':"submit"} Register

    <script type="text/javascript">
        $(function(){
            function getURLParameter(name) {
                return decodeURI(
                    (RegExp(name + '=' + '(.+?)(&|$)').exec(location.search)||[,null])[1]
                );
            }
            if (getURLParameter('invitation') != "null") {
                $('#id_email').attr('readonly', 'readonly');
            }
        })
    </script>
