- load tz
- for event in events
  %div
      %a{ 'href' : "{{ event.facebook_url }}",  'target' : '_blank'}
            {{ event.name }}
    %div.lead{'style':'font-size:12px; margin-bottom:0'}
        {{ event.display_time }}
    %div{'style':'font-size:12px; color:#aaa;'}
        {{ event.location }}

    %hr

