- extends "base.html"

- load review_form_handler
- load static

- block content
    %div{ 'class':'container-fluid'}
        %div{ 'class':'row'}
            %div{ 'class':'offset1'}
                %h3 {{ club }}
            %div{'class':'span8 offset1'}
                %p
                  %h5 Introduction:
                  {{ club.introduction }}
                  %h5 Website
                  {{club.website}}

                %p
                  %h5 Reviews:
                - for review in reviews
                        %p {{ review }}
                    - empty
                        %p No reviews yet!
            %div{'class':'span4'}
                %h4 Events
                %span
                    - firstof events "No events listed!"

        %div{ 'class' : 'row'}
            %div{'class': 'offset1'}
                %p
                  %a{ 'href': "{% url 'club_list_view' %}"} Back to list
                -review_form_handler
