- load selectable_tags
- include_jquery_libs
{{ form.media.css }}
{{ form.media.js }} 
- include_ui_theme 
:css
    .form-horizontal { text-align:left }
    .form-horizontal .control-group { margin-bottom: 0px }
    .form-horizontal .control-label { margin-left:0px; width:20px }
    .form-horizontal .controls { margin-left:80px }
    #id_club_0 { width:400px }
    #id_ratings { width:400px }
    #id_content { width:400px }

%form.form-horizontal{ 'method':"post", 'action':""}
    - csrf_token
    - for field in form

                .control-group
                    %label.control-label {{ field.label_tag }} 
                    .controls {{ field }}
    %button.btn-primary.btn{'type':"submit"}
        Submit
