{% load selectable_tags %}
{% include_jquery_libs %}
{{ form.media.css }}
{{ form.media.js }}
{% load static %}
<script src="{% static "js/jquery-1.9.1.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/jquery.barrating.js" %}" type="text/javascript"></script>
<style type='text/css'>
/*<![CDATA[*/
    #review_form  { text-align:left }
    #review_form .control-group { margin-bottom: 5px }
    #review_form .control-label { margin-left:0px; width:20px }
    #review_form .controls { margin-left:80px }
    #id_club_0 { width:400px }
    #id_ratings { width:400px }
    #id_content { width:400px }

    .rating-f .bar-rating a {
        background: url({% static "img/star.png" %});
        width: 24px;
        height: 24px;
        display: block;
        float: left;
    }

    .rating-f .bar-rating a:hover,
    .rating-f .bar-rating a.active,
    .rating-f .bar-rating a.selected {
        background-position: 0 24px;
    }


/*]]>*/
</style>

<script type="text/javascript">
    $(function () {
        $('#example-f').barrating({ showSelectedRating:false });
    })
</script>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form id='review_form' class='form-horizontal' action='' method='post'>
    {% if form.errors %}
        <div class="form-fieldset">
            <div class="alert alert-error">
                {{ form.errors }}
            </div>
        </div>
    {% endif %}
    {% if form.success %}
        <div class="form-fieldset">
            <div class="alert alert-success">
                {{ form.success }}
            </div>
        </div>
    {% endif %}
    {% csrf_token %}
    {% for field in form %}
        <div class='control-group'>
            <div class='control-label'>{{ field.label_tag }}</div>
            <div class='controls'>{{ field }}</div>
        </div>
    {% endfor %}

    <div class="control-group">
        <div class="control-label">Ratings</div>
        <div class="controls">
            <div class="input select rating-f">
                <select id="example-f" name="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
    </div>

    <div class="control-group">
        <button class='btn-primary' type='submit'>
            Submit
        </button>
    </div>
</form>
