- load static
- load compress
- load selectable_tags
- load date_helpers

!!! 5
%head
    %title Berkeley Clubs
    {% compress css %}
        %link{ 'rel' : 'stylesheet', 'type' : 'text/css', 'href' : "{% static 'css/bootstrap.min.css' %}" }
        %link{ 'rel' : 'stylesheet', 'type' : 'text/css', 'href' : "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" }
        %link{ 'rel' : 'stylesheet', 'type' : 'text/css', 'href' : "{% static 'css/style.css' %}" }
    {% endcompress %}
    - include_jquery_libs
    %script{'type':"text/javascript", 'src': '{% static "js/jquery.barrating.js" %}'}
    %script{'type':"text/javascript"}
        $(function () {
            $("#search-box").autocomplete({
                source: "/clubs/search/",
                select: function( event, ui ) {
                    document.location.href='/clubs/'+ui.item.id;
                }
            });
            $("#search-box").attr('autocomplete', 'on')
            $('#rating').barrating({ showSelectedRating:false, onSelect:function(value, text) {
                $("#rating-val").val(value);
            }})
        });

%body
    .navbar.navbar-fixed-top
        .navbar-inner
            .container
                %a{'class':'brand', 'href': "{% url 'club_list_view' %}"} Berkeley Clubs
                %form{'class':'navbar-search pull-left', 'action':'/clubs/'}
                    %div{'class':'input-prepend input-append'}
                        %span{'class':'add-on'}
                            %i{'class':'icon-search'}
                        %input{'id':'search-box','type':'text','class':'','placeholder':'Search', 'name':'q'}
                        %button{'class':'btn', 'type':'submit'} Search
                        %button{'class':'btn', 'type':'button'} Categories
    .container
        - block content
        %p#footer
        &copy;
        - with year_tuple=2013|year_and_current_year
          {{year_tuple.0}}
          - if year_tuple.0  != year_tuple.1
            \-
            {{ year_tuple.1 }}
        Daniel Liu and David Su

