- extends "base.html"

- load review_form_handler
- load static

- block content
    :css
        a.star {
            background: url({% static "img/star.png" %});
            width: 24px;
            height: 24px;
            display: block;
            float: left;
        }
        a.star.selected {
            background-position: 0 24px;
        }
        .review-content {
            font-size: 18px;
            margin-top: 10px;
        }

    %script{'type':"text/javascript"}
        $(function () {
            $('.review .rating div').each(function() {
                var rating = $(this).data("rating");
                for (var i=0; i<rating; i++) {
                    $(this).append($("<a>").toggleClass("star selected"));
                }
            })

            avgRating = Math.round(parseFloat($('.avg-rating-val').text()))
            for (var i=0; i<avgRating; i++) {
                $('.avg-rating-stars').append($("<a>").toggleClass("star selected"))
            }
            if (avgRating==0) {
                for (var i=0; i<5; i++) {
                    $('.avg-rating-stars').append($("<a>").toggleClass("star"))
                }
            }
        })

    #main-wrapper.row
        #main-content.span8
            #club-name.hero-unit.no-border-radius
                %h3 {{ club }}
                %blockquote
                        %p
                            {{ club.introduction }}

                .avg-rating-stars.pull-left
                %p.avg-rating-val.pull-left.muted{ 'style' : "padding-left: 10px; "}
                    {{ rating|floatformat:2 }}
                .clearfix
                %dl.dl
                    
                    - if club.requirements
                        %dt.muted
                          Requirements
                        %dd
                          {{club.requirements}}
                    
                      - if club.address
                        %dt.muted
                          Address
                        %dd
                          {{club.address}}
                    - if club.activity_summary
                        %dt.muted
                          Activities
                        %dd
                          {{club.activity_summary}}

                      - if club.meeting
                        %dt.muted
                            Meetings
                        %dd
                          {{club.meeting}}

                %ul{ 'class' : 'unstyled'}
                                        
                  - if club.website
                      %li
                        %a{ 'href' : "{{club.website}}" }
                            %i.icon-external-link
                            {{ club.website }}

                        - if club.facebook_url
                          %li
                              %a{ 'href' : "{{club.facebook_url}}" }
                                  %i.icon-facebook-sign
                                  Facebook
                        - if club.students_berkeley_edu_url
                            %li
                              %a.muted{ 'href' : "{{club.students_berkeley_edu_url}}" }
                                Source




            .card
                %h5 Reviews:
                - for review in reviews
                    .review
                        .pull-right
                            {{ review.date_posted }}
                        .container
                            - if review.anonymous
                                %div.muted{'style':"float:left; margin-right: 10px"} Anonymous

                            .rating
                                %div{'data-rating': "{{ review.ratings }}"}

                        .review-content
                          %blockquote
                            %p {{ review.content }}
                        %hr


                - empty
                    %p No reviews yet!
            %ul.pager
              %li.previous
                %a{'href': "{{request.META.HTTP_REFERER}}"}
                    &larr;  Previous


            - review_form_handler

        .span4
            #event-panel
                %h4 Events
                - for event in events
                    %div
                      %a{ 'href' : "{{ event.facebook_url }}" }
                            {{ event.name }}
                    %div{'style':'font-size:12px; color:#aaa;'}
                        {{ event.location }}
                    %div{'style':'font-size:12px; color:#aaa;'}
                        {{ event.start_time }}
                    %hr
                - empty
                    No events listed!
                - if events
                    %a{'href':'#'} View more

