- extends "base.html"

- load review_form_handler
- load static

- block content
    :css
        a.star {
            background: url({% static "img/star.png" %});
            width: 24px;
            height: 24px;
            display: block;
            float: left;
        }
        a.star.selected {
            background-position: 0 24px;
        }
        .review-content {
            font-size: 18px;
            margin-top: 10px;
        }

    %script{'type':"text/javascript"}
        $(function () {
            $('.review .rating div').each(function() {
                var rating = $(this).data("rating");
                for (var i=0; i<rating; i++) {
                    $(this).append($("<a>").toggleClass("star selected"));
                }
            })


        })

    #main-wrapper.row
        #main-content.span8
            #club-name
                %h3 {{ club }}
            .card
                %h5 Introduction:
                {{ club.introduction }}
            - if club.website
                .card
                    %h5 Website
                    {{ club.website }}
            .card
                %h5 Reviews:
                - for review in reviews
                    .review
                        .pull-right
                            {{ review.date_posted }}
                        .container
                            - if review.anonymous
                                %div{'style':"float:left; margin-right: 10px"} Anonymous

                            .rating
                                %div{'data-rating': "{{ review.ratings }}"}

                        .review-content
                            {{ review.content }}
                        %hr


                - empty
                    %p No reviews yet!
            .backtolist
                %a{ 'href': "{% url 'club_list_view' %}"} Back to list


            - review_form_handler

        .span4
            #event-panel
                %h4 Events
                %span
                    - firstof events "No events listed!"


