- extends "base.html"
- load static
- load tz

- block title
    =club.name
    |

- block content
    :javascript
        var subscribed = "{{ subscribed }}" == "True";
        var is_authenticated = "{{ user.is_authenticated }}" == "True";
        var $subscribeBtn;
        var toggleSubscribe = function($btn) {
            $btn.toggleClass('subscribed');
            if ($btn.text() == 'Subscribe') {
                $btn.text('Unsubscribe');
            } else {
                $btn.text('Subscribe');
            }
        }
        $(function () {
            $subscribeBtn = $("#subscribe-btn");
            if (subscribed) {
                toggleSubscribe($subscribeBtn);
            }
            generate_avg_rating_stars();
            generate_review_stars();
            $('#form-errors').hide();
            $('#review_form_submit').bind('click', create_review);
            $("#btn-more-events").click(function(e) {
                e.preventDefault();
                $(this).remove();
                $("#more-events").toggle();
            });
            $subscribeBtn.click(function() {
                params = {};
                params['csrfmiddlewaretoken'] = getCookie('csrftoken');
                if (!subscribed) {
                    $.post('/clubs/{{ club.id }}/subscribe/', params, handleRedirect);
                    subscribed = true;
                } else {
                    $.post('/clubs/{{ club.id }}/unsubscribe/', params, handleRedirect);
                    subscribed = false;
                }
                if (is_authenticated) { // Change subscription status only if user is logined
                    toggleSubscribe($subscribeBtn);
                }
            });
            $subscribeBtn.tooltipster();
        })

    #main-wrapper
        #main-content
            #club-name.bordered.hero-unit.no-border-radius
                %h3
                    .pull-right
                        %a#subscribe-btn.btn.btn-info{'title':"Subscribe to receive events update by email!"} Subscribe
                    {{ club }}
                %blockquote
                    %p
                        - autoescape off
                            {{club.introduction}}

                .avg-rating-stars.pull-left
                %p.avg-rating-val.pull-left.muted{ 'style' : "padding-left: 10px; "}
                    {{ rating|floatformat:2 }}
                .clearfix
                %dl.dl

                    - if club.requirements
                        %dt.muted
                          Requirements
                        %dd
                          {{club.display_requirements|urlize}}

                    - if club.address
                        %dt.muted
                          Address
                        %dd
                          {{club.display_address}}
                    - if club.activity_summary
                        %dt.muted
                          Activities
                        %dd
                          {{club.display_activity_summary|urlize}}

                    - if club.meeting
                        %dt.muted
                            Meetings
                        %dd
                          {{club.display_meeting|urlize}}
                    - if club.callink_permalink
                        %p
                          %a.muted{ 'href' : "{{club.callink_url}}", 'target' : '_blank'}
                            %small Callink
                    - if club.students_berkeley_edu_url
                        %p
                          %a.muted{ 'href' : "{{club.legacy_students_berkeley_edu_url}}", 'target' : '_blank'}
                            %small Legacy Source


                %ul.unstyled
                  - if club.contact_email
                    %li
                      %a{ 'href' : "mailto:{{club.contact_email}}", 'target' : '_blank'}
                        %i.icon-envelope-alt
                        %small
                            = club.contact_email

                  - if club.website and club.website != club.facebook_url
                      %li
                        %a{ 'href' : "{{club.website}}", 'target' : '_blank' }
                            %i.icon-external-link
                            %small
                                = club.website

                  - if club.facebook_url
                    %li
                        %a{ 'href' : "{{club.facebook_url}}", 'target' : '_blank' }
                            %i.icon-facebook-sign
                            %small
                                  = club.facebook_url
                  - with club=club
                    - include "includes/url_update_form.html"


            .card
                - include "includes/reviews_snippet.html"

            %ul.pager
              %li.previous
                %a{'href': "{{request.META.HTTP_REFERER}}"}
                    &larr;  Previous

            - include "includes/review_form.html"

        .right-side-panel
            #event-panel
                %h4 Events
                -with events=events|slice:":4"
                  - include "includes/club_event_info.html"
                - if events.count > 4
                  %a#btn-more-events{'href':'#'} View more
                    #more-events{ 'style': 'display:none;'}
                      -with events=events|slice:"4:"
                        - include "includes/club_event_info.html"
                - else
                  - if events.count == 0
                    No events listed!
        .right-side-panel
            #event-panel
                %h4 You may also like
                - for c in related_clubs
                    %div{'style':'margin-top:10px'}
                        %a{'href':'/clubs/{{ c.permalink }}', 'style':'font-size:12px'}
                            =c.name


