- extends "base.html"
- load review_form_handler
- load humanize

- block content
      .right-side-panel
        .card
          %h4 Categories
          %ul
            - for category in categories
                %li
                  <a href="?cat={{category.name|urlencode}}">
                    - if category.name|urlencode == request.GET.dict.cat|urlencode
                      %strong {{ category }}
                    - else
                      {{ category }}
                  </a>

        .card
          %h4 Upcoming events
          - with events=events
            - include "includes/club_event_info.html"

      #main-content
        .card
          .pull-left
            Displaying
            ={clubs.start_index} - ={clubs.end_index} of ={clubs.paginator.count} result{{clubs.paginator.count|pluralize}}
          .pull-right
              Sort by
                %a{'class':"{% if order == 'pop' or not order or not order in 'ratings name'%}sort-active{% endif %}",'href':'?order=pop{% if request.GET.dict.q %}&q={{request.GET.dict.q}}{% endif %}{% if request.GET.dict.cat %}&cat={{ request.GET.dict.cat|urlencode }}{% endif %}'} Views
                %a{'class':"{% if order == 'name'%}sort-active{% endif %}",'href':'?order=name{% if request.GET.dict.q %}&q={{request.GET.dict.q}}{% endif %}{% if request.GET.dict.cat %}&cat={{ request.GET.dict.cat|urlencode }}{% endif %}'} Name
                %a{'class':"{% if order == 'ratings'%}sort-active{% endif %}",'href':'?order=ratings{% if request.GET.dict.q %}&q={{request.GET.dict.q}}{% endif %}{% if request.GET.dict.cat %}&cat={{ request.GET.dict.cat|urlencode }}{% endif %}'} Rating

        - for club in clubs
            .card
                %ul.unstyled.pull-right
                  %li
                    %span.text-info
                      {% widthratio club.avg_rating 5 5 %}
                      &times;
                      %i.icon-star
                  - if club.website
                          %li
                              %a.pull-right{ 'href' : "{{club.website}}", 'target' : '_blank' }
                                  %i.icon-external-link
                              .clearfix
                  - if club.facebook_url
                      %li
                          %a.pull-right{ 'href' : "{{club.facebook_url}}", 'target' : '_blank' }
                              %i.icon-facebook-sign
                              .hide-text
                                {{ club.facebook_url}}
                          .clearfix



                %h4
                    %a{'href' : "{% url 'club_info_view' club.permalink %}"}
                        {{club}}
                %p
                    %span.intro-text
                        {{club.display_introduction|slice:":200"|urlize}}
                    - if club.introduction and club.display_introduction|length  > 200
                        %span.ellipsis
                            \...

                        %br
                        %a.show-more{ 'href' : "#" }
                          Read more
                        %span.hide-text
                          {{club.display_introduction|urlize}}
                %small.muted.pull-right
                  = club.hit|intcomma
                  view{{club.hit|pluralize}}
          - empty
            .card{'style':'text-align: center; padding-bottom:10px'}
              %p{'style':'padding-top:10px;'}
                Sorry we cannot find any club matching your search.
              %p{'style':'font-size:12px'}
                Try searching with less words, and see if auto-completion works for you.



        - if clubs.paginator.count > 0
            %div{'class':'pagination pagination-centered'}
                %ul{'class' : 'step-links'}
                    %li{'class' : "{{ clubs.has_previous|yesno:',disabled' }}"}
                        - if clubs.has_previous
                            %a{'href' : '?page={{clubs.previous_page_number}}&q={{request.GET.dict.q}}&cat={{request.GET.dict.cat|urlencode}}&order={{order}}'} &larr;
                        - else
                            %a{'href' : '#'} &larr;

                    - for i in clubs.paginator.page_range
                        - with offset_start=clubs.number|add:"-5"
                            - if i < clubs.number and i > offset_start or i == 1 and i != clubs.number
                                %li
                                  %a{'href':'?page={{i}}&q={{request.GET.dict.q}}&cat={{request.GET.dict.cat|urlencode}}&order={{order}}'}
                                        {{i}}
                    %li{'class':'current active'}
                        %span
                            {{clubs.number}}
                    - for i in clubs.paginator.page_range
                        - with offset_end=clubs.number|add:"5"
                            - if i > clubs.number and i < offset_end or i == clubs.paginator.num_pages and i != clubs.number
                                %li
                                    %a{'href':'?page={{i}}&q={{request.GET.dict.q}}&cat={{request.GET.dict.cat|urlencode}}&order={{order}}'}
                                        {{i}}

                    %li{'class' : "{{ clubs.has_next|yesno:',disabled' }}"}
                        - if clubs.has_next
                            %a{'href': '?page={{clubs.next_page_number}}&q={{request.GET.dict.q}}&cat={{request.GET.dict.cat|urlencode}}&order={{order}}'}
                                &rarr;
                        - else
                            %a{'href': '#'}
                                &rarr;
                %p
                    page ={clubs.number} of ={clubs.paginator.num_pages}


    :javascript
      (function($){
        $(document).ready(function(){
          $(".show-more").click(function(e){
            $this = $(e.target);
            e.preventDefault();
            var toInsert = $this.siblings('.hide-text').text().trim();
            $this.siblings('.ellipsis').remove();
            var $target = $this.siblings('.intro-text');
            $target.text( toInsert);
            $this.remove();
          })
        });
        })(jQuery)
