- extends "base.html"
- load static
- load tz

- block content
    :javascript
        $(function () {
            $('#form-errors').hide();
            $('.review .rating div').each(function() {
                var rating = $(this).data("rating");
                for (var i=0; i < rating; i++) {
                    $(this).append($("<a>").toggleClass("star selected"));
                }
            });
            avgRating = Math.round(parseFloat($('.avg-rating-val').text()))
            for (var i=0; i < avgRating; i++) {
                $('.avg-rating-stars').append($("<a>").toggleClass("star selected"))
            }
            for (var i=0; i < 5-avgRating; i++) {
                $('.avg-rating-stars').append($("<a>").toggleClass("star"))
            }
            $('#review_form_submit').click(function(){
                $.post('/reviews/create/', $('#review_form').serialize(), function(response){
                    if (response.status == 'success') {
                        location.reload();
                    } else {
                        $.each(response.error, function(key, val) {
                            $('#form-errors').append($('<div>').text(val[0]));
                        });
                        $('#form-errors').show();
                    }
                })
            })
        })

    #main-wrapper.row
        #main-content.span8
            #club-name.hero-unit.no-border-radius
                %h3 {{ club }}
                %blockquote
                    %p
                        {{ club.display_introduction|urlize }}

                .avg-rating-stars.pull-left
                %p.avg-rating-val.pull-left.muted{ 'style' : "padding-left: 10px; "}
                    {{ rating|floatformat:2 }}
                .clearfix
                %dl.dl

                    - if club.requirements
                        %dt.muted
                          Requirements
                        %dd
                          {{club.display_requirements|urlize}}

                    - if club.address
                        %dt.muted
                          Address
                        %dd
                          {{club.display_address}}
                    - if club.activity_summary
                        %dt.muted
                          Activities
                        %dd
                          {{club.display_activity_summary|urlize}}

                    - if club.meeting
                        %dt.muted
                            Meetings
                        %dd
                          {{club.display_meeting|urlize}}
                    - if club.students_berkeley_edu_url
                        %p
                          %a.muted{ 'href' : "{{club.legacy_students_berkeley_edu_url}}", 'target' : '_blank'}
                            %small Legacy Source


                %ul.unstyled
                  - if club.contact_email
                    %li
                      %a{ 'href' : "mailto:{{club.contact_email}}", 'target' : '_blank'}
                        %i.icon-envelope-alt
                        %small
                            = club.contact_email

                  - if club.website and club.website != club.facebook_url
                      %li
                        %a{ 'href' : "{{club.website}}", 'target' : '_blank' }
                            %i.icon-external-link
                            %small
                                = club.website

                  - if club.facebook_url
                    %li
                        %a{ 'href' : "{{club.facebook_url}}", 'target' : '_blank' }
                            %i.icon-facebook-sign
                            %small
                                  = club.facebook_url
                  - with club=club
                    - include "includes/url_update_form.html"


            .card
                %h5 Reviews:
                - for review in reviews
                    .review
                        .pull-right
                            {{ review.date_posted }}
                            - if review.user == user
                                    %a{'href':'/reviews/delete/{{ review.id }}'} delete?

                        .container
                            %div.muted{'style':"float:left; margin-right: 10px"}
                                - if review.anonymous
                                    Anonymous
                                - else
                                    =review.user.screen_name

                            .rating
                                %div{'data-rating': "{{ review.ratings }}"}

                        .review-content
                          %blockquote
                            %p {{ review.content }}

                        %hr
                - empty
                    %p Be the first to review!

            %ul.pager
              %li.previous
                %a{'href': "{{request.META.HTTP_REFERER}}"}
                    &larr;  Previous

            .review-form-wrapper
                %form#review_form.form-horizontal
                    - csrf_token
                    .form-fieldset
                        #form-errors.alert.alert-error
                    %input{'type':"hidden", 'id':"club_id", 'name':"club_id", 'value':"{{ club.id }}"}
                    .control-group
                        .control-label Content
                        .controls
                            %textarea{'cols':"20", 'id':"id_content", 'name':"content", 'rows':"5"}
                    %input{'type':"hidden", 'id':"rating-val", 'name':"rating-val", 'value':"3"}
                    .control-group
                        .control-label Ratings
                        .controls
                            .input.select.rating-star-wrapper
                                %select#rating
                                    %option{'value':"1"} 1
                                    %option{'value':"2"} 2
                                    %option{'value':"3", 'selected':'true'} 3
                                    %option{'value':"4"} 4
                                    %option{'value':"5"} 5
                    .control-group
                        .control-label Anonymous?
                        .controls
                            %input{'type':'checkbox','checked':'true', 'name':'anonymous'}

                    %button#review_form_submit.btn-primary.btn{'type':'button'} Submit


        .span4
            #event-panel
                %h4 Events
                -with events=events.future|slice:":5"
                  - include "includes/club_event_info.html"
                - if events.future.count > 5
                  %a#btn-more-events{'href':'#'} View more
                    #more-events{ 'style': 'display:none;'}
                      -with events=events.future|slice:"5:"
                        - include "includes/club_event_info.html"
                    <script>
                      $("#btn-more-events").click(function(e){
                        e.preventDefault();
                        $(this).remove();
                        $("#more-events").toggle();
                      })
                    </script>
                - else
                  - if events.future.count == 0
                    No events listed!
        .span4.pull-right
            #event-panel
                %h4 You may also like
                - for c in related_clubs
                    %div{'style':'margin-top:10px'}
                        %a{'href':'/clubs/{{ c.permalink }}', 'style':'font-size:12px'}
                            =c.name


