- extends "base.html"
- load static
- load tz
- block content
  #landing_main.container-fluid.clearfix
    #landing_main_content.row-fluid.clearfix
      .span12
        #landing-hero.hero-unit
            %h1.lead CalBeat <span style='font-size:20px'>- Discover and rate clubs at UC Berkeley</span>
              %a.pull-right.btn.btn-info{'style':'font-family:Helvetica; font-size:17px', 'href':'/clubs/'} Get started


            %blockquote{'style': 'margin-top:15px'}
              %p  Being Berkeley means being involved and connected, on campus and in the community.
              %small
                ="http://admissions.berkeley.edu/clubs"|urlize
            %ul.thumbnails
              %li.span6
                .thumbnails
                  .page-header
                    %h3
                      %i.icon-search
                      Discover
                  %p
                    Simple search to get you to clubs that match your interest.
                  %b
                    Find
                  %ul{'style':'font-size:15px'}
                    %li
                      Club description
                    %li
                      Meeting Times and Locations
                    %li
                      Activity Summary
                    %li
                      Requirements
                    %li
                      Contact info
              %li.span6
                .thumbnails
                    .page-header
                        %h3
                          %i.icon-star
                          Rate & Review
                    %p
                      Write reviews with a passion!
                      Support those clubs that you care about.
                      Find out what clubs are relevant on campus.

            .clearfix
            %ul.thumbnails
              %li.span6
                .thumbnails
                  .page-header
                    %h3
                        %i.icon-facebook-sign
                        Facebook Events
                  %p
                    Stay social and up to date on club events.
                  %ul{'style':'font-size:15px'}
                    %li
                      We sync all the events with clubs facebook page
                    %li
                      Subscribe your email to events update

              %li.span6
                .thumbnails
                    .page-header
                        %h3
                          %i.icon-mobile-phone
                          Mobile Friendly
                    %p
                      Use <em>CalBeat</em> on the go on any device.


  %link{ 'rel' : 'stylesheet', 'type' : 'text/css', 'href' : "{% static 'css/landing.css' %}" }


